/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: 3px dashed #228bec;
  outline-offset: 0;
}
html {
  font: 62.5% / 1.15 sans-serif;
}
h1,
h2 {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;
}
button::-moz-focus-inner {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
input[type="text"] {
  border-radius: 0;
}
body {
  width: 100%;
  max-width: 68rem;
  margin: 0 auto;
  font:
    1.6rem/1.25 Arial,
    sans-serif;
  background-image: linear-gradient(90deg, rgba(119,0,255,1) 39%, rgba(0,212,255,1) 100%);
  color: #4d4d4d;
}
@media screen and (min-width: 620px) {
  body {
    font-size: 1.9rem;
    line-height: 1.31579;
  }
}
/*END RESETS*/

h1 {
    color: white;
    font-size: 3em;
    -webkit-text-stroke: grey 0.1px;
    margin-bottom: 1em;
}



button {
    padding: 0.4em;
    margin: 0.3em;
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(220,181,204,1) 100%);
    border: 0.5px solid grey;
    border-radius: 10px;
}

.first-button {
    margin-left: 0; /* Remove left margin */
  }

  .button-with-margin {
    margin-bottom: 2.5em; /* Adjust the margin as needed */
  }

.btn-submit, .btn-danger {
    padding: 0.4em;
    margin: 0.3em;
    background: linear-gradient(90deg, rgba(32,191,150,1) 0%, rgba(1,186,239,1) 100%);
    border: 0.5px solid grey;
    border-radius: 10px;
}

.todo-label {
    margin-left: 0.3em;
    font-size: 1.5em;
    color: white;
}

/* Style the checkbox container */
.checkbox-input {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    position: relative;
  }
  
  /* Style the checkbox input */
  .checkbox-input input[type="checkbox"] {
    display: none;
  }
  
  /* Style the checkbox label */
  .checkbox-input label.checkbox-label::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: pink;
    border: 1px solid grey;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .checkbox-input input[type="checkbox"]:checked + label.checkbox-label::before {
    content: '\2713';
    text-align: center;
    line-height: 16px;
    color: white;
    background-color: rgba(32,191,150,1);
  }
  
  input[type="text"] {
    height: 2em;
    width: 20em;
  }